{% extends "base.html" %} {% block head %}
<title>Events Page</title>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/events.css') }}"
/>
{% endblock %} {% block body %}
<h1 class="text-center">Bookings</h1>
{% if reservationList %}
<div class="card-container">
  {% for booking in reservationList %}
  <div
    class="card"
    onclick="showDetails(this.getAttribute('data-title'), this.getAttribute('data-description'), this.getAttribute('data-capacity'), this.getAttribute('data-features'))"
    data-toggle="modal"
    data-target="#bookingModal"
    data-title="{{ booking.title }}"
    data-description="{{ booking.description }}"
    data-capacity="{{ booking.capacity }}"
    data-features="{{ booking.feature_name }}"
  >
    <h3>{{ booking.title }}</h3>
    <p>Room: {{ booking.room_name }}</p>
    <p>Day: {{ booking.date }}</p>
    <p>Start: {{ booking.start_time }}</p>
    <p>End: {{ booking.end_time }}</p>
    <!-- Container for delete and edit buttons -->
    <div class="button-container">
      <!-- Delete button -->
      <button
        class="btn btn-danger btn-square delete-button"
        onclick="deleteBooking('{{ booking.event_id }}')"
      >
        <i class="fas fa-trash-alt"></i>
      </button>

      <!-- Edit button -->
      <button
        class="btn btn-primary btn-square edit-button"
        onclick="editBooking(event, {
          'title': '{{ booking.title }}',
          'event_id': '{{ booking.event_id }}',
          'description': '{{ booking.description }}',
          'room_name': '{{ booking.room_name }}',
          'date': '{{ booking.date }}',
          'start_time': '{{ booking.start_time }}',
          'end_time': '{{ booking.end_time }}'
        }); event.stopPropagation();"
      >
        <i class="fas fa-pencil-alt"></i>
      </button>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="text-center">
  <p>No bookings available.</p>
</div>
{% endif %}

<!-- Bootstrap Modal -->
<div
  class="modal fade"
  id="bookingModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bookingModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookingModalLabel"></h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2 id="modalTitle"></h2>
        <p id="modalDescription"></p>
        <p id="modalCapacity"></p>
        <p id="modalFeatures"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Edit Modal -->
<div
  class="modal fade"
  id="editBookingModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editBookingModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editBookingModalLabel">Edit Booking</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editBookingForm">
          <input type="hidden" id="editEventId" />
          <div class="form-group">
            <label for="editTitle">Title</label>
            <div class="custom-input-group">
              <input type="text" class="form-control" id="editTitle" disabled />
              <div class="edit-input-container" style="display: none">
                <input
                  type="text"
                  class="form-control edit-input"
                  id="editTitleInput"
                />
              </div>
              <button
                class="btn btn-primary edit-button"
                type="button"
                onclick="showEditInput('editTitle')"
              >
                <i class="fas fa-pencil-alt"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <label for="editDescription">Description</label>
            <div class="custom-input-group">
              <input
                type="text"
                class="form-control"
                id="editDescription"
                disabled
              />
              <div class="edit-input-container" style="display: none">
                <input
                  type="text"
                  class="form-control edit-input"
                  id="editDescriptionInput"
                />
              </div>
              <button
                class="btn btn-primary edit-button"
                type="button"
                onclick="showEditInput('editDescription')"
              >
                <i class="fas fa-pencil-alt"></i>
              </button>
            </div>
          </div>
          <!-- Add similar structure for other fields -->
          <div class="form-group">
            <label for="editRoom">Room</label>
            <div class="custom-input-group">
              <input type="text" class="form-control" id="editRoom" disabled />
              <div class="edit-input-container" style="display: none">
                <select class="form-control edit-input" id="editRoomInput">
                  {% for room in room_data %}
                  <option value="{{ room.room_id }}">{{ room.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <button
                class="btn btn-primary edit-button"
                type="button"
                onclick="showEditInput('editRoom')"
              >
                <i class="fas fa-pencil-alt"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <label for="editStartTime">Date</label>
            <div class="custom-input-group">
              <input type="text" class="form-control" id="editDate" disabled />
              <div class="edit-input-container" style="display: none">
                <input
                  type="datetime-local"
                  class="form-control edit-input"
                  id="editDateInput"
                />
              </div>
              <button
                class="btn btn-primary edit-button"
                type="button"
                onclick="showEditInput('editDate')"
              >
                <i class="fas fa-pencil-alt"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <label for="editStartTime">Start Time</label>
            <div class="custom-input-group">
              <input
                type="text"
                class="form-control"
                id="editStartTime"
                disabled
              />
              <div class="edit-input-container" style="display: none">
                <div class="d-flex align-items-center">
                  <select
                    class="form-control mr-1 edit-input"
                    id="editStartTimeHour"
                    required
                  >
                    <option value="" selected disabled>Hour</option>
                    <!-- Add this line -->
                    {% for hour in range(8, 20) %}
                    <option value="{{ hour }}">{{ hour }}</option>
                    {% endfor %}
                  </select>
                  <span>:</span>
                  <select
                    class="form-control ml-1 edit-input"
                    id="editStartTimeMinute"
                    required
                  >
                    <option value="" selected disabled>Minute</option>
                    <!-- Add this line -->
                    <option value="00">00</option>
                    <option value="30">30</option>
                  </select>
                </div>
              </div>
              <button
                class="btn btn-primary edit-button"
                type="button"
                onclick="showEditInput('editStartTime')"
              >
                <i class="fas fa-pencil-alt"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <label for="editEndTime">End Time</label>
            <div class="custom-input-group">
              <input
                type="text"
                class="form-control"
                id="editEndTime"
                disabled
              />
              <div class="edit-input-container" style="display: none">
                <div class="d-flex align-items-center">
                  <select
                    class="form-control mr-1 edit-input"
                    id="editEndTimeHour"
                    required
                  >
                    <option value="" selected disabled>Hour</option>
                    <!-- Add this line -->
                    {% for hour in range(8, 20) %}
                    <option value="{{ hour }}">{{ hour }}</option>
                    {% endfor %}
                  </select>
                  <span>:</span>
                  <select
                    class="form-control ml-1 edit-input"
                    id="editEndTimeMinute"
                    required
                  >
                    <option value="" selected disabled>Minute</option>
                    <!-- Add this line -->
                    <option value="00">00</option>
                    <option value="30">30</option>
                  </select>
                </div>
              </div>
              <button
                class="btn btn-primary edit-button"
                type="button"
                onclick="showEditInput('editEndTime')"
              >
                <i class="fas fa-pencil-alt"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="saveChanges()">
          Save Changes
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Confirmation Modal -->
<div
  class="modal fade"
  id="confirmationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          You are about to delete this event. All the bookings with this event
          will be deleted. Do you wish to proceed?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="confirmDelete">
          Yes
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          No
        </button>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='javascript/events.js') }}"></script>
{% endblock %}
