<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="login-container" id="loginModal">
      <h2>Login</h2>
      <form action="/login" method="post" id="loginForm">
        <div class="form-group">
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Username"
            required
            class="form-control"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
            class="form-control"
          />
        </div>
        <div class="form-group guest-login">
          <a
            href="#"
            class="guest-login-link"
            data-toggle="modal"
            data-target="#guestModal"
            >Login as Guest</a
          >
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
    </div>

    <!-- Guest Login Modal -->
    <div
      class="modal fade"
      id="guestModal"
      tabindex="-1"
      aria-labelledby="guestModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="guestModalLabel">Choose Department</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/guest-login" method="post" id="guestLoginForm">
              <div class="form-group">
                <label for="department">Department:</label>
                <select id="department" name="department" required class="form-control" >
                </select>
              </div>
              <button type="submit" class="btn btn-primary">
                Continue as Guest
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/login.js') }}"></script>
  </body>
</html>
